<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.save_yourself">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Healthify"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Save_YourSelf">
        <activity
            android:name=".Activities.ChatActivityDoctor"
            android:exported="true" />
        <activity
            android:name=".Activities.Doctor.appointment_request"
            android:exported="true" />
        <activity
            android:name=".Activities.Doctor.Doctor_records"
            android:exported="true" />
        <activity
            android:name=".Activities.Patient.Extra_Appointment"
            android:exported="true" />
        <activity
            android:name=".Activities.Appointment_Activity"
            android:exported="true" />
        <activity
            android:name=".Activities.ChatActivity"
            android:exported="true" />
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_double_arrow_24" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_700" />

        <activity
            android:name=".Auth.Log_in"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Patient.activeChats"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Activities.Patient.records"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Activities.Patient.myProfile"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Activities.Patient.findYourDoctor"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".Activities.Dashboard_doctor"
            android:exported="true" />
        <activity
            android:name=".Activities.Dashboard_patient"
            android:exported="true" />
        <activity
            android:name=".Auth.otp_activity"
            android:exported="true" />
        <activity
            android:name=".Auth.sign_up"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <service
            android:name=".FCM.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>